---
const pageTitle = "About Me";
import '../styles/aboutme.scss'

const identity = {
  firstName: "Frost",
  country: "United States",
  occupation: "Game Developer",
  hobbies: ["Furries", "Programming", "Art"],
};

const skills = ["C/C++", "Unreal Engine", "JavaScript", "React", "Astro", "Writing Docs"];


import BaseLayout from '../layouts/BaseLayout.astro';

---


<BaseLayout pageTitle={pageTitle}>
  <body>
    <div class="site-container">
    <img src="https://frosttz-dev-furry-frost.s3.us-west-2.amazonaws.com/Frost_Efi_Programming_final.png" alt="Frost coding drawn by @EfiArts on twitter", id="aboutmephoto" />
    <p>Artist: Efi_Arts</p>
    <div class="text-content">
      <div class = "AboutHeader">
        <h1> Hi I'm Frost</h1>
        <ul>
          <li>My actual name is Chris Dowell</li>
          <li>My alias is "Frosttz" or Frost</li>
          <li>I'm a furry and my fursona is a raccoon</li>
          <li>I like programming and drawing.</li>
          <li>I work as a software engineer at an indie game studio :3</li>
        </ul>
      </div>
      <div class = "">
        <h2>Experience</h2>
        <div = class = "job-div">
          <h3>Currently working at: PlayEveryWare</h3>
          <h3>Shipped Games</h3>
          <ul><h4>Potionomics</h4><img src="https://potionomics.com/_next/static/media/hero-tablet.e2b50b00.jpg" height = "300" width="400"></ul>
          <p>Ported to Xbox Series X, Playstation 5, and Nintendo Switch</p>
          <p>September 2023 to May 2024</p>
          <ul><h4>Fortnite</h4><img src="../../public/images/fortnite_splash.jpg" height = "300" width="400">
            <p>Gameplay Programming Internship</p>
          <p>Summer 2022</p></ul>

          <ul></ul>
      </div>
      </div>
    </div>
    </div>
    </body>
</BaseLayout>
