---
const pageTitle = "About Me";

const identity = {
  firstName: "Frost",
  country: "United States",
  occupation: "Game Developer",
  hobbies: ["Furries", "Programming", "Art"],
};

const skills = ["C/C++", "Unreal Engine", "JavaScript", "React", "Astro", "Writing Docs"];


import BaseLayout from '../layouts/BaseLayout.astro';
---


<BaseLayout pageTitle={pageTitle}>
  <body>
    <h1>About me</h1>
      <p>
        Hello! I'm Frosttz, but just call me Frost. I'm a raccoon who loves to program and draw. I work as a game developer over in Seattle 
        and you'll find me working on indie games. I currently work at a porting studio called <a href="https://www.playeveryware.com/">PlayEveryWare</a>.
        My job mostly consists of taking video games and putting them on consoles like the Xbox, Playstation, and Switch. Most of my experience
        is with Unreal Engine, but I love doing hobby development on Godot.
      </p>

      


    </body>
</BaseLayout>
