---
const pageTitle = "About Me";
import '../styles/aboutme.scss'

const identity = {
  firstName: "Frost",
  country: "United States",
  occupation: "Game Developer",
  hobbies: ["Furries", "Programming", "Art"],
};

const skills = ["C/C++", "Unreal Engine", "JavaScript", "React", "Astro", "Writing Docs"];


import BaseLayout from '../layouts/BaseLayout.astro';
---


<BaseLayout pageTitle={pageTitle}>
  <body>
    <div class="site-container">
    <h1>About me</h1>
    <img src="https://i.imgur.com/OBnkX7Z.gif" alt="Descriptive text of the GIF", id="aboutmephoto" />
    <div class="text-content">
        <p>
          Hello! I'm Frosttz, but you can just call me Frost. I'm a raccoon who loves to program and draw. I work as a game developer over in Seattle 
          and you'll find me working on indie games. I currently work at a porting studio called <a href="https://www.playeveryware.com/">PlayEveryWare</a>.
          My job mostly consists of taking video games and putting them on consoles like the Xbox, Playstation, and Switch. Most of my experience
          is with Unreal Engine, but I love doing hobby development on Godot.
        </p>
        <p>
          I went to Digipen Institute of Technology and graduated with a Bachelors of Science in Computer Science and Game Design.
          Notable games I worked on is my senior project <a href="https://store.steampowered.com/app/2417620/Pogglewash/">Pogglewash</a>, Fortnite for an Internship at Epic Games, and my most recent port of <a href="https://store.steampowered.com/app/1874490/Potionomics/">Potionomics</a> for console!
        </p>
        <p>
          I'll write a better bio later lol...
        </p>
    </div>
    </div>
    </body>
</BaseLayout>
