---
import Social from './Social.astro';
import { Image } from 'astro:assets';
import twitterpng from '../../public/images/twitter-logo.svg'
import itchpng from '../../public/images/itchio-logo.svg'
import bskysvg from '../../public/images/bluesky-logo.svg'
import instasvg from '../../public/images/instagram-logo.svg'
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Copyright Frosttz 2024<p>
  <div class="social-footer">
    <ul class="horizontal-list-social">
      <li>
        <a href="https://twitter.com/frostttz"><Image src={twitterpng} alt="twitter", height="40", width="40"></Image></a>
      </li>
      <li>
        <a href="https://itch.io/frosttz"><Image src={itchpng} alt="itch.io" height="40", width="40"></Image></a>
      </li>
      <li>
        <a href="https://bsky.app/profile/frosttz.dev"><Image src={bskysvg} alt="bluesky" height="40", width="40"></Image></a>
      </li>
      <li>
        <a href="https://instagram.com"><Image src={instasvg} alt="bluesky" height="40", width="40"></Image></a>
      </li>
    </ul>
  </div>    
</footer>
