---
import Hamburger  from './Hamburger.astro';
import Navigation from './Navigation.astro';
import PageEmbedding from './PageEmbedding.astro';
import Themeicon from './ThemeIcon.astro';
---
<header>
  <PageEmbedding/>
  <nav>
    <div class="PageControls">
      <a href="/">Frosttz.dev</a>
    </div>
    <Navigation />
  </nav>
</header>