---
import Hamburger  from './Hamburger.astro';
import Navigation from './Navigation.astro';
import PageEmbedding from './PageEmbedding.astro';
import Themeicon from './ThemeIcon.astro';
---
<body>
  <PageEmbedding/>
  <div class="page-header">
    <nav>
      <div class="PageControls">
        <Navigation/>
      </div>
    </nav>
  </body>
</div>