---
import '../styles/navigationbar.scss'
---

<div class ="nav-links">
        <!--
        <a href="/games/">Projects</a>
        <a href="/blog/">Blog</a>
        <a href="/art/">Art</a>
-->
        
        <a href="/wip/">Projects</a>
        <a href="/wip/">Blog</a>
        <a href="/wip/">Art</a>
         
</div>
