<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frosttz.dev</title>
</head>
<body>
    <h1 class="title">Frosttz</h1>

	<!-- Navigation bar, right below header -->
	<div class="navbar">
		<a class="link" href="https://frosttz.dev">home</a>
		<a class="link" href="https://frosttz.dev/blog">blog</a>
		<a class="link" href="https://frosttz.dev/portfolio">portfolio</a>
		<a class="link" href="https://twitter.com/frostttz">twitter</a>
	</div>

    
    <!-- Your content goes here -->
    
</body>
</html>