.profile-box
{
    align-content: center;
    background-color: #363a42c7; /* Light grey background */
    padding: 50px;            /* Padding inside the box */
    border: 1px solid #5bebeb;    /* Optional: A light border to define the box */
    border-radius: 10px;       /* Optional: Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for depth */
    width: 400px;
    margin: 0 auto;

    .profile-photo
    {

    }
    

}