.name
{
	font-size: 24px;
	place-content: center;
	color: black
}

.Socials
{
	place-content: center;
    text-align: center;
}

body 
{
    background-color: lightblue;
}

link
{
	display: block;
	place-content: center;
}

.name-title-container {
    display: flex;
    flex-direction: column; /* Stack the name, image, and title vertically */
	place-content: center;
    text-align: center; /* Center text inside the divs */
    margin-top: 20px; /* Adjust as needed for spacing */
}

.ProfilePhoto {
    width: 300px; /* Set the desired width */
    height: 300px; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 10px; /* Optional: rounding the image corners */
}

.navbar
{
    text-align: center; /* Center text inside the divs */
}